<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:/bbws.properties"/>
    </bean>

    <bean id="contextService" class="edu.bu.ist.bbws.buconnector.service.context.ContextServiceImpl">
        <property name="connectorUtil" ref="connectorUtil"/>
    </bean>


    <bean id="courseService" class="edu.bu.ist.bbws.buconnector.service.course.CourseServiceImpl">
        <property name="contextService" ref="contextService"/>
        <property name="coursemembershipService" ref="coursemembershipService"/>
        <property name="gradebookService" ref="gradebookService"/>
        <property name="userService" ref="userService"/>
        <property name="connectorUtil" ref="connectorUtil"/>
    </bean>

    <bean id="coursemembershipService"
          class="edu.bu.ist.bbws.buconnector.service.coursemembership.CoursemembershipServiceImpl">
        <property name="contextService" ref="contextService"/>
        <property name="courseService" ref="courseService"/>
        <property name="userService" ref="userService"/>
        <property name="connectorUtil" ref="connectorUtil"/>

    </bean>

    <bean id="gradebookService" class="edu.bu.ist.bbws.buconnector.service.gradebook.GradebookServiceImpl">
        <property name="contextService" ref="contextService"/>
        <property name="courseService" ref="courseService"/>
        <property name="userService" ref="userService"/>
        <property name="connectorUtil" ref="connectorUtil"/>
    </bean>

    <bean id="userService" class="edu.bu.ist.bbws.buconnector.service.user.UserServiceImpl">
        <property name="contextService" ref="contextService"/>
        <property name="courseService" ref="courseService"/>
        <property name="connectorUtil" ref="connectorUtil"/>
    </bean>

    <bean id="buConnectorController" class="edu.bu.ist.bbws.buconnector.controller.BuConnectorController">
        <property name="contextService" ref="contextService"/>
        <property name="courseService" ref="courseService"/>
        <property name="coursemembershipService" ref="coursemembershipService"/>
        <property name="gradebookService" ref="gradebookService"/>
        <property name="userService" ref="userService"/>

    </bean>

    <bean id="connectorUtil" class="edu.bu.ist.bbws.buconnector.utils.ConnectorUtil">
        <property name="blackboardServerURL" value="${bbws.blackboardServerURL}"/>
        <property name="clientVendorId" value="${bbws.clientVendorId}"/>
        <property name="clientProgramId" value="${bbws.clientProgramId}"/>
        <property name="modulePath" value="${bbws.modulePath}"/>
        <property name="sharedSecret" value="${bbws.sharedSecret}"/>
        <property name="username" value="${bbws.username}"/>
    </bean>
</beans>


